<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <section class='post'>
    <header><h2><%= link_to post.title, post %></h2></header>
    <article>
      <%= post.content %>
    </article>
<!--     <div class='control'>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirn: 'Are you sure? '} %>
    </div> -->
  </section>
<% end %>

<%= link_to 'New Post', new_post_path %>